/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(49, 43, 43, 0.73),rgba(49, 43, 43, 0.73), rgba(61, 161, 227, 0.52)),
  url('header.jpg');;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  h1{
    font-size: 45px;
    color: white;
    font-weight: bold;
    padding-top: 200px;
    letter-spacing: 1.5px;
    padding-bottom: 30px;
  } 
  p{
    font-size: 20px;
    color: white;
    font-weight: 200;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .subscribe{
    margin: auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    width:fit-content;
    border-radius: 3px;
    input{
      padding: 10px;
      border-radius: 5px;
      width: 230px;
      border: none;
    }
    button{
      padding: 10px;
      background-color: 	#19afe1;
      font-weight: 100;
      color: white;
      border-radius: 3px;
      border: none;
      cursor: pointer;
    }
    .devider{
      display: inline-block;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  .note{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 200;

  }
}
